.css,
.rgb {
  display: flex;
  width: 100px;
  height: 100px;
}

.rgb {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: 0 0 20px 0;
}

.css {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  margin: 0 0 20px 0;
}

body {
  color: white;
}

h1 {
  color: #000;
}
